<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur3" >

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur3 -->
  <xacro:include filename="$(find ur_description)/urdf/ur3.urdf.xacro" />

  <!-- arm -->
  <xacro:ur3_robot prefix="" joint_limited="false"/>

  <!-- Set initial joint angles -->
  <gazebo>
    <plugin name="ur_initial_pose" filename="libInitialPosePlugin.so">
      <shoulder_pan_joint>-5.5</shoulder_pan_joint>
      <shoulder_lift_joint>-1.75</shoulder_lift_joint>
      <elbow_joint>-1.63</elbow_joint>
      <wrist_1_joint>3.34</wrist_1_joint>
      <wrist_2_joint>-1.0</wrist_2_joint>
      <wrist_3_joint>-3.1</wrist_3_joint>
    </plugin>
  </gazebo>


  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
